/* 
    CSS style file for the Generate Component
    Author: Alexandru Stan
    Since: June 2023
    Teacher: Mrs. McCaffery
    Course: ICS4U
*/

html, body {

    height: 100%;
    width: 100%;
    margin: 0

}

.generate_parent {

    display: flex;
    justify-content: center;
    margin-top: 5vh;

}

.generated_image {

    height: 55vh;
    width: 60vh;
    border-radius: 10px;
    margin-right: 4vw;

}

.generate_menu {

    height: 55vh;
    max-height: 55vh;
    width: 60vh;
    max-width: 60vh;
    background-color: #A9A6A3;
    margin-left: 4vw;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#title_text {

    margin-top: -6vh;
    margin-bottom: 10vh;
    font-family: 'Rubik', monospace;
    font-size: 3.5em;
    font-weight: 10;
    position: absolute;

}

.explanation_text {

    position: absolute;
    font-family: 'Rubik', monospace;
    font-size: 1em;
    margin-bottom: 14%;
    font-weight: 100;

}

.explanation_text:nth-child(3) {

    margin-top: 7%;

}

.generate_form {

    display: flex;
    justify-content: center;

}

#include {

    background-color: transparent;
    border: 1px solid black;
    height: 5vh;
    width: 22.5vw;
    text-align: center;
    font-family: 'Rubik', monospace;
    font-size: 1em;
    margin-top: 15vh;
    transform: translate(18.75%, 50%);

}

#exclude {

    background-color: transparent;
    border: 1px solid black;
    height: 5vh;
    font-size: 1em;
    width: 22.5vw;
    transform: translate(18.750%, 100%);
    text-align: center;
    

}

.generate_button {

    height: 8vh;
    width: 12vw;
    border-radius: 30px;
    opacity: 1;
    border: 1px solid black;
    transform: translate(80%, 110%);
    background-color: #485151;
    color: white;
    font-size: 1em;
    font-family: 'Rubik', monospace;

}

.generate_button:hover {

    height: 8vh;
    width: 12vw;
    border-radius: 30px;
    opacity: 1;
    border: 1px solid black;
    transform: translate(80%, 110%);
    background-color: #485151;
    color: white;
    font-size: 1em;
    font-family: 'Rubik', monospace;
    animation: cantGenerate 5s;

}

.button_filtered {

    background-color: #ff4d17 !important;

}


/* clears the 'X' from the search bar */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
