/* 
    CSS style file for the Header component
    Author: Alexandru Stan
    Since: June 2023
    Teacher: Mrs. McCaffery
    Course: ICS4U
*/

body, html {
    
    width: 100%;
    margin: 0;
    padding: 0;
    height:100%;

}

.header {

    background-color: #edebe6;
    padding-top: 0;
    height: 100%;

}

#title {

    padding-top: 3vh;
    padding-left: 12.5vw;
    margin: 0;
    font-size: 1.7em;
    font-family: 'Rubik', monospace;
    font-weight: 100;
    padding-bottom: 2vh;

}

.banner_container {

    display: flex;
    justify-content: center;
    position: relative;
    color: white;

}

.banner_image {

    height: 65vh;
    width: 75vw;
    padding-top: 4vh;
    padding-bottom: 4vh;

}

.center_text {

    font-family: 'Rubik', monospace;
    font-size: 4em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: black 0px 0px 2px;

} 