/*
    CSS style file for the Image Showcase Component
    Author: Alexandru Stan
    Since: June 2023
    Teacher: Mrs. McCaffery
    Course: ICS4U
*/

html, body {

    height: 100%;
    width: 100%;
    margin: 0

}

.gallery {

    display: flex;
    justify-content: center;
    padding-top: 5vh;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin: 0;

}

.showcase_image {

    height: 60vh;
    width: 23vw;
    border-radius: 10px;
    position: absolute;
    z-index: -1;

}

.prompt_container {

    background-color: black;
    width: 21vw;
    max-width: 21vw;
    max-height: 4vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    border-radius: 10px;
    overflow: hidden;

}

.prompt {

    color: white;
    margin-left: 2vw;
    font-family: 'Rubik', monospace;

}   
